# Model files
*.pt
*.pth
*.onnx

# Stub files / Cache
stubs/
*.pkl

# Python virtual environment
venv/
.venv/
env/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Output folders
output_videos/
uploads/

# IDE / Editor specific
.vscode/
.idea/
*.swp
